@use 'sass:color';
@use '../styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  background-color: $deep-space;
  color: $text-primary;
  line-height: 1.6;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
  font-weight: 700;
  line-height: 1.2;
}

a {
  color: $nixie-orange;
  text-decoration: none;
}

code, pre {
  font-family: $font-mono;
}

::selection {
  background: rgba($nixie-orange, 0.3);
  color: $nasa-cream;
}

:focus-visible {
  outline: 2px solid $nixie-orange;
  outline-offset: 2px;
}
